body {
  font-family: "Orbitron";
  color: #fafafa;
  background-color: #1e1e1e;
  text-align: center;
  margin: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .picture {
  width: 13rem;
  border-radius: 50%;
  margin-top: 3rem;
}

header h1 {
  margin: 2rem 0 0 0;
}

header .logo {
  width: 5rem;
  margin: 1rem;
  text-align: center;
}

header .logo-desktop {
  display: none;
}

header h3 {
  margin: 0;
  font-size: 1.3rem;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 1px #37aee3, 0 0 5px #285ec3, 0 0 10px #2570ad,
      0 0 15px #0182d2;
  }
  50% {
    text-shadow: 0 0 5px #37aee3, 0 0 10px #285ec3, 0 0 15px #2570ad,
      0 0 20px #0182d2;
  }
  100% {
    text-shadow: 0 0 1px #37aee3, 0 0 5px #285ec3, 0 0 10px #2570ad,
      0 0 15px #0182d2;
  }
}

header .slogan .neon {
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #37aee3, 0 0 10px #285ec3, 0 0 15px #2570ad,
    0 0 20px #0182d2;
  animation: neonGlow 1.5s infinite alternate;
}

header .presentation p {
  margin: 1rem 0 1rem 0;
}

header .presentation strong {
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 0;
}

.links-title {
  padding: 0;
  font-weight: normal;
}

.links-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.links-icons img {
  width: 4rem;
}

.links-icons svg {
  fill: #fafafa;
  width: 3.8rem;
}

.github-icon {
  fill: #fafafa;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

.contact-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.contact-icons img {
  width: 4rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(96, 153, 155);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 300px;
}

.modal p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 4rem 0 0 0;
}

.studies h3 {
  /* font-weight: normal; */
  margin-bottom: 0.5rem;
}

.studies h4 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.degree h4 {
  margin: 0;
}

.degree .equivalence {
  font-size: 0.8rem;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 0 0;
}

.tools-title {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0rem 1rem 1rem 1rem;
}

.tools-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tools-logos div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.logo-js {
  border-radius: 1.7px;
}

svg {
  width: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    margin: 2rem;
  }

  header {
    margin: 4rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  header .desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
  }

  header .picture {
    width: 15rem;
  }

  header h1 {
    margin: 2rem 1rem 0rem 1rem;
  }

  header .logo {
    width: 6rem;
  }

  header .logo-mobile {
    display: none;
  }

  header .logo-desktop {
    display: block;
    width: 6rem;
  }

  header h3 {
    font-size: 1.5rem;
  }

  header .presentation {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  header .presentation p {
    margin: 1rem 0 1rem 0;
  }

  main {
    margin: 2rem 1rem 1rem 1rem;
  }

  .links {
    margin: 5rem 0 0 0;
  }

  .links-icons {
    margin: 1rem;
  }

  .links-icons img {
    width: 5rem;
  }

  .links-icons svg {
    width: 4rem;
  }

  .contact {
    margin: 2rem 0 0 0;
  }

  .contact-icons {
    margin: 1rem;
  }

  .contact-icons img {
    width: 5rem;
  }

  .studies {
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .studies h3 {
    font-size: 1.5rem;
  }

  .studies h4 {
    font-size: 1.2rem;
  }

  .forming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .degree h4 {
    font-size: 1.2rem;
  }

  .degree .equivalence {
    font-size: 1rem;
  }

  .tools {
    margin: 4rem 0 0 0;
  }

  .tools-title {
    font-size: 1.5rem;
  }

  .tools-logos {
    flex-direction: row;
    gap: 1rem;
  }

  .tools-logos div {
    gap: 1rem;
  }

  .logo-js {
    border-radius: 2px;
  }

  svg {
    width: 3rem;
  }
}
